<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style-trivia1.0.css">
</head>
<body>
    <div class="content">
        <h1 class="title">Selecciona una categoria</h1>
        <ul>
            <li><a href=" {{url_for('trivia.trivia',category='tvc',id=0,respuesta='false')}} " class="question">Television/Cine</a></li>
            <li><a href="{{url_for('trivia.trivia',category='Games',id=0,respuesta='false')}}" class="question">Games</a></li>
            <li><a href="{{url_for('trivia.trivia',category='Food',id=0,respuesta='false')}}" class="question">Food</a></li>
        </ul>
    </div>
</body>
</html>